body {
  background: #fff;
  font-family: arial;
}

#image {
  margin-top: 40px;
  width: 100%;
  max-width: 1600px;
}

#image img {
  width: 100%;
}

a#close {
  display: block;
  text-decoration: none;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 34px;
  background: #000;
  background: rgba(0,0,0,0.5);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  font-size: 36px;
}

a#close:hover {
  background: rgba(0,0,0,1);
}
