body {
  background: #fff;
  font-family: arial;
}

#image {
  margin-top: 40px;
  width: 100%;
  max-width: 1600px;
}

figure img,
#image img {
  width: 100%;
  height: auto;
}

figure#mary-daly {
  width: 100%;
  max-width: 583px;
  margin: 40px auto 0;
}

figure figcaption {
  position: relative;
  margin-top: 1em;
  border-top: 1px solid #ccc;
  background: #eee;
  padding: 1em 1.6em;
}

a#close {
  display: block;
  text-decoration: none;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 34px;
  background: #000;
  background: rgba(0,0,0,0.5);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  font-size: 36px;
}

a#close:hover {
  background: rgba(0,0,0,1);
}
