/* ==========================================================================
HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
========================================================================== */

html,
button,
input,
select,
textarea {
  color: #222;
}

iframe {
  border: none;
}

body {
  background: #fff;
  font: 1em/1.6em arial, helvetica, 'Helvetica Neue', sans-serif;
}

article section h2, article section h3 {
  color: #17807e;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

a {
  color: #4774cc;
  text-decoration: none;
}

.slideshow,
blockquote,
figure,
p {
  margin: 0 0 1em;
}

blockquote {
  font-family: georgia, serif;
  font-style: italic;
  line-height: 1.4em;
  color: #77631b;
}

blockquote.right {
  font-size: 1.2em;
  line-height: 1.8em;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

#globalheader,
#wrapper,
#footer {
  width: 1600px;
  max-width: 100%;
  margin: 0 auto;
}

#footer,
#globalheader {
  background: #333;
  color: #999;
}

html.js .slideshow ul.pager li a,
section.byline,
article header,
article footer,
.credit,
h3,
p.lead,
figcaption,
.caption,
aside.callout .description {
  font-family: "adelle", arial, helvetica, 'Helvetica Neue', sans-serif;
}

#globalheader nav ul {
  float: left;
  margin: 0;
  padding: 0 0 0 10px;
}

#globalheader ul.social-links {
  display: none;
}

#footer nav ul {
  float: left;
  margin: 0;
  padding: 0 0 0 10px;
}

#footer .copyright {
  float: left;
  font-size: 0.8em;
  line-height: 40px;
  padding-left: 20px;
}

#footer nav ul li,
#globalheader nav ul li {
  margin: 0;
  padding: 0;
  float: left;
  height: 40px;
}

nav li.secondary {
  display: none;
}

#globalheader nav ul li img {
  display: block;
  margin: 10px 0;
}

#footer nav li a,
#globalheader nav li a {
  padding: 0 10px;
  font-size: 0.8em;
  line-height: 40px;
  display: block;
  color: #999;
}

#footer nav a:hover,
#footer nav a:visited,
#globalheader nav a:hover,
#globalheader nav a:visited {
  color: #aaa;
}

#wrapper {
  position: relative;
}

aside.callout {
  display: none;
}

article header {
  position: relative;
}

article header img {
  width: 100%;
  height: auto;
}

article header h1 {
  font-size: 2.8em;
  line-height: 1.2em;
  margin: 0.5em 20px 0;
  padding: 0;
  color: #17807e;
}

article header h2 {
  font-size: 1.6em;
  line-height: 1.4em;
  margin: 0 20px 0;
  padding: 0;
  color: #51a09e;
}

article section {
  margin: 0 20px 4em;
}

article section.byline {
  font-size: 1.2em;
  line-height: 1.6em;
  margin: 0 20px 1em;
  color: #77631b;
}

article section h3 {
  font-size: 2.4em;
  line-height: 1em;
  margin: 0.5em 0 0.25em;
}

article section figure,
article section p {
  margin: 0 0 1.5em;
  line-height: 1.8em;
}

article section p.lead {
  font-size: 1.2em;
  line-height: 1.5em;
}

article section figure {
  position: relative;
  margin-left: -20px;
  margin-right: -20px;
}

html.backgroundsize .wallpaper {
  background: center center fixed no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
@media only all and (max-device-width: 1024px) {
  html.backgroundsize .wallpaper { 
    background-attachment: scroll;
  }
}

html.backgroundsize blockquote.wallpaper {
  margin: 0 -20px 1em;
}

article figure {
  position: relative;
}

article figure img {
  width: 100%;
  height: auto;
}

article section figure a.enlarge {
  float: right;
  color: #fff;
  font-size: 1em;
  padding: 0.5em 1em;
  background: #000;
  margin-top: 0.5em;
}

article section figure figcaption a.enlarge {
  float: none;
  position: absolute;
  right: 0;
  bottom: 0;
  color: #fff;
  font-size: 1em;
  padding: 0.5em 1em;
  background: #000;
}

article section figure.infographic {
  overflow: auto;
}

article section figure figcaption {
  padding: 1em 1.6em;
  background: #ccc;
  font-size: 0.85em;
  font-weight: 500;
}

article section .credit {
  display: block;
  margin-top: 0.5em;
  font-size: 0.75em;
  line-height: 2em;
  text-align: right;
}

article section figure figcaption .credit {
  font-size: 0.8em;
  text-align: left;
}

article section figure .credit {
  margin: 0.5em 20px 0;
}

article section figure figcaption .credit {
  margin: 0.5em 0;
}

article section figure.inline.wide .credit {
  float: right;
  margin: 0.5em 20px 0;
}

.slideshow figure figcaption .credit,
section .caption .credit {
  float: right;
  margin: 0;
}

.slideshow figure figcaption .credit {
  margin: 4px 0 2px 10px;
}

article section figure.infographic figcaption {
  position: relative;
  margin-top: 1em;
  border-top: 1px solid #ccc;
  background: #eee;
  padding-right: 6em;
}

article footer {
  color: #ccc;
  padding: 10px 20px;
  background: #444;
}

html.backgroundsize h3.wallpaper {
  font-size: 4em;
  padding: 20% 0;
  color: #fff;
  text-shadow: 1px 1px 2px #333;
  -moz-text-shadow: 1px 1px 2px #333;
  -webkit-text-shadow: 1px 1px 2px #333;
  text-align: center;
  margin: 0 -20px;
}

h3#hale-county {
  background-image: url(../img/hale-county-bus-152.jpg);
}

h3#dave-hoefler {
  padding: 20% 5%;
  background-image: url(../img/subhead-dave-hoefler.jpg);
}

h3#subhead-kids {
  background-image: url(../img/jahleel-duroc-3.jpg);
}

h3#subhead-clinton {
  padding: 15% 10%;
  line-height: 1.2em;
  background-image: url(../img/subhead-clinton.jpg);
}

h3#subhead-industrial-complex {
  font-size: 3em;
  padding: 20% 5%;
  background-image: url(../img/subhead-disability-lawyers.jpg);
}

h3#subhead-can-you-think {
  font-size: 3em;
  line-height: 1.2em;
  padding: 10% 5%;
  background-image: url(../img/subhead-can-you-think.jpg);
}

section .caption {
  padding: 1em 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1em;
}

article figure #audio-ethel-thomas {
  position: absolute;
  top: 50%;
  left: 20px;
}

#komo-video {
  display: none;
}

.slideshow {
  margin: 0 -20px 1em;
  position: relative;
}

.slideshow ul {
  margin: 0;
  padding: 0;
}

.slideshow ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

html.js .slideshow ul.slides li {
  display: none;
}

html.js .slideshow ul li figure {
  margin: 0;
}

html.js .slideshow ul.slides li:first-child {
  display: block;
}

html.js .slideshow ul.pager li a {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: 0 0 0;
  padding: 0 14px;
  width: 50%;
  cursor: pointer;
  color: #fff;
  line-height: 60px;
  font-size: 100px;
  font-weight: 400;
  text-shadow: 1px 1px 2px #333;
  -moz-text-shadow: 1px 1px 2px #333;
  -webkit-text-shadow: 1px 1px 2px #333;
  opacity: 0.5;
  transition: opacity .1s ease-in-out;
  -moz-transition: opacity .1s ease-in-out;
  -webkit-transition: opacity .1s ease-in-out;
}

html.js .slideshow ul.pager li a.prev {
  left: 0;
  cursor: w-resize;
}
html.js .slideshow ul.pager li a.next {
  right: 0;
  cursor: e-resize;
  text-align: right;
}

html.js .slideshow ul.pager li a:hover {
  opacity: 1;
}


/* ==========================================================================
Media Queries
========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
INTERMEDIATE
==================== */

#globalheader ul.social-links {
  display: block;
  float: right;
  margin: 0;
  padding: 0;
}

#globalheader ul.social-links li {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  border-left: 1px solid #2C2C2C;
}

#globalheader ul.social-links li a {
  display: block;
  width: 40px;
  height: 40px;
  text-indent: -999em;
  overflow: hidden;
  display: block;
  background: url(../img/social-icons.png) no-repeat 0 0;
}

#globalheader ul.social-links li.twitter a {
  background-position: 0 -40px;
}
article header {
  margin-bottom: 20px;
  max-height: 400px;
  overflow: hidden;
}
article header .headline {
  height: 360px;
  padding: 20px;
  background: url(../img/banner.jpg) center center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
article header img {
  display: none;
}
article header h1 {
  font-size: 4em;
  line-height: 1em;
  margin: 0;
  padding: 0;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #333;
  -moz-text-shadow: 1px 1px 2px #333;
  -webkit-text-shadow: 1px 1px 2px #333;
}
article header h2 {
  line-height: 1.4em;
  font-size: 1.4em;
  margin: 0;
  padding: 0;
  color: #fff;
  text-shadow: 1px 1px 2px #333;
  -moz-text-shadow: 1px 1px 2px #333;
  -webkit-text-shadow: 1px 1px 2px #333;
}

article section p.lead {
  font-size: 1.4em;
  line-height: 1.8em;
}
article section figure {
  margin-left: 0;
  margin-right: 0;
}
article section .inline.wide {
  margin-left: -20px;
  margin-right: -20px;
}
article section figure .credit {
  margin: 0.5em 0 0;
}
}

@media only screen and (min-width: 800px) {
  /* ============
  TABLET
  ============ */
  article header {
    height: 400px;
  }
  article header .headline {

  }
  nav li.secondary {
    display: block;
  }
  article section {
    clear: right;
    margin: 0 40px 4em;
  }
  article section.byline {
    margin: 0 40px 1em;
  }
  article section h3 {
    font-size: 4em;
  }
  article section figure a.enlarge {
    display: none;
  }
  article section figure.infographic figcaption {
    padding-right: 1.6em;
  }
  article section .inline.wide {
    margin-left: -40px;
    margin-right: -40px;
  }
  article section figure.inline.wide .credit {
    float: right;
    margin: 0.5em 40px 0;
  }
  html.backgroundsize h3.wallpaper {
    margin: 0 -40px;
  }
  h3#subhead-kids,
  h3#hale-county {
    font-size: 6em;
  }
  html.backgroundsize blockquote.wallpaper {
    margin: 0 -40px 1em;
  }
  article section .inline.narrow,
  article section > p {
    width: 60%;
  }
  article section .inline.medium {
    width: 80%;
  }
  article section .right {
    float: right;
  }
  article section .right.narrow {
    width: 36%;
  }
  article section .right.medium {
    width: 50%;
    margin: 0 0 1em 2em;
  }
  article section .right.wide {
    width: 60%;
    margin: 0 0 1em 2em;
  }
  article footer {
    padding: 20px 40px;
  }
  #komo-video {
    display: block;
    width: 560px;
    margin: 0 0 1em 2em;
  }
  .slideshow {
    margin: 0 0 1em;
  }
}

@media only screen and (min-width: 1024px) {
  /* ============
  DESKTOP
  ============ */
  article header {
    margin-right: 340px;
    height: 500px;
    max-height: 500px;
  }
  article header .headline {
    height: 460px;
  }
  article header h1 {
    font-size: 5em;
  }
  article header h2 {
    font-size: 2em;
  }
  aside.callout {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 499px;
    width: 340px;
    background: #333;
    color: #ccc;
    border-top: 1px solid #2C2C2C;
    border-left: 1px solid #2C2C2C;
  }
  aside.callout a {
    color: #51a09e;
  }
  aside.callout .ad-wrapper {
    height: 290px;
    padding: 20px 20px 0px;
    border-bottom: 1px solid #2C2C2C;
    font-family: helvetica, arial, sans-serif;
    font-size: .69em;
    background: #444;
    overflow: hidden;
  }
  aside.callout .ad-wrapper p {
    float: left;
  }
  aside.callout .ad-wrapper p.right {
    float: right;
  }
  aside.callout .ad-wrapper a.ad img {
    display: block;
  }
  aside.callout .description {
    padding: 20px;
  }
  aside.callout .description ul {
    margin: -0.25em 0 0 0.5em;
    padding: 0;
  }
  aside.callout .description ul li {
    list-style: none;
    margin: 0 0 8px;
    padding: 0 0 0 20px;
    background: url(../img/icon-listen.png) no-repeat 0 5px;
  }
  aside.callout .description ul li a {
  }
}

@media only screen and (min-width: 1280px) {
/* ===============
Maximal Width
=============== */
  .video-wrapper {
    max-width: 1280px;
  }
}

/* ==========================================================================
Helper classes
========================================================================== */

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* ==========================================================================
Print styles
========================================================================== */

@media print {
  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
  * Don't show links for images, or javascript/internal links
  */

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}