/* ==========================================================================
HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
========================================================================== */

html,
button,
input,
select,
textarea {
  color: #222;
}

body {
  background: #fff;
  font: 1em/1.6em arial, helvetica, 'Helvetica Neue', sans-serif;
}

article section h2, article section h3 {
  color: #17807e;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

a {
  color: #4774cc;
  text-decoration: none;
}

blockquote,
figure,
p {
  margin: 0 0 1em;
}

blockquote {
  font-family: georgia, serif;
  font-style: italic;
  line-height: 1.4em;
  color: #77631b;
}

blockquote.right {
  font-size: 1.2em;
  line-height: 1.8em;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

#globalheader,
#wrapper,
#footer {
  width: 1600px;
  max-width: 100%;
  margin: 0 auto;
}

#footer,
#globalheader {
  background: #333;
  color: #999;
}


section.byline,
article header,
article footer,
.credit,
h3,
p.lead,
figcaption,
.caption,
aside.callout .description {
  font-family: "adelle", arial, helvetica, 'Helvetica Neue', sans-serif;
}

#globalheader nav ul {
  float: left;
  margin: 0;
  padding: 0 0 0 10px;
}

#footer nav ul {
  float: left;
  margin: 0;
  padding: 0 0 0 10px;
}

#footer .copyright {
  float: left;
  font-size: 0.8em;
  line-height: 40px;
  padding-left: 20px;
}

#footer nav ul li,
#globalheader nav ul li {
  margin: 0;
  padding: 0;
  float: left;
  height: 40px;
}

nav li.secondary {
  display: none;
}

#globalheader nav ul li img {
  display: block;
  margin: 10px 0;
}

#footer nav li a,
#globalheader nav li a {
  padding: 0 10px;
  font-size: 0.8em;
  line-height: 40px;
  display: block;
  color: #999;
}

#footer nav a:hover,
#footer nav a:visited,
#globalheader nav a:hover,
#globalheader nav a:visited {
  color: #aaa;
}

#wrapper {
  position: relative;
}

aside.callout {
  display: none;
}

article header {
  position: relative;
}

article header img {
  width: 100%;
  height: auto;
}

article header h1 {
  font-size: 2.8em;
  line-height: 1.2em;
  margin: 0.5em 20px 0;
  padding: 0;
  color: #17807e;
}

article header h2 {
  font-size: 1.6em;
  line-height: 1.4em;
  margin: 0 20px 0;
  padding: 0;
  color: #51a09e;
}

article section {
  margin: 0 20px 4em;
}

article section.byline {
  font-size: 1.2em;
  line-height: 1.6em;
  margin: 0 20px 1em;
  color: #77631b;
}

article section h3 {
  font-size: 2.4em;
  line-height: 1em;
  margin: 0.5em 0 0.25em;
}

article section figure,
article section p {
  margin: 0 0 1.5em;
  line-height: 1.8em;
}

article section p.lead {
  font-size: 1.2em;
  line-height: 1.5em;
}

article section figure {
  position: relative;
  margin-left: -20px;
  margin-right: -20px;
}

.wallpaper {
  background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

blockquote.wallpaper {
  margin: 0 -20px 1em;
}

article figure {
  position: relative;
}

article figure img {
  width: 100%;
}

article section figure a.enlarge {
  float: right;
  color: #fff;
  font-size: 1em;
  padding: 0.5em 1em;
  background: #000;
  margin-top: 0.5em;
}

article section figure figcaption a.enlarge {
  float: none;
  position: absolute;
  right: 0;
  bottom: 0;
  color: #fff;
  font-size: 1em;
  padding: 0.5em 1em;
  background: #000;
}

article figure.three-up {
  overflow: auto;
}

article figure.three-up img {
  float: left;
  width: 32%;
  margin-left: 2%;
}

article figure.three-up img:first-child {
  margin-left: 0;
}

article section figure.infographic {
  overflow: auto;
}

article section figure figcaption {
  padding: 1em 1.6em;
  background: #ccc;
  font-size: 0.85em;
  font-weight: 500;
}

article section .credit {
  margin-top: 0.5em;
  font-size: 0.75em;
  line-height: 2em;
  text-align: right;
}

article section figure figcaption .credit {
  font-size: 0.8em;
  text-align: left;
}

article section figure .credit {
  margin: 0.5em 20px 0;
}

article section figure figcaption .credit {
  margin: 0.5em 0;
}

article section figure.inline.wide .credit {
  float: right;
  margin: 0.5em 20px 0;
}

.slideshow figure figcaption .credit,
section .caption .credit {
  float: right;
  margin: 0;
}

article section figure.infographic figcaption {
  position: relative;
  margin-top: 1em;
  border-top: 1px solid #ccc;
  background: #eee;
  padding-right: 6em;
}

article footer {
  color: #ccc;
  padding: 10px 20px;
  background: #444;
}

h3.wallpaper {
  font-size: 4em;
  padding: 20% 0;
  color: #fff;
  text-shadow: 0px 0px 5px #999;
  -moz-text-shadow: 0px 0px 5px #999;
  -webkit-text-shadow: 0px 0px 5px #999;
  text-align: center;
  margin: 0 -20px;
}

h3#hale-county {
  background-image: url(../img/hale-county-bus-152.jpg);
}

h3#dave-hoefler {
  padding: 20% 5%;
  background-image: url(../img/subhead-dave-hoefler.jpg);
}

h3#subhead-kids {
  background-image: url(../img/jahleel-duroc-3.jpg);
}

h3#subhead-industrial-complex {
  background-image: url(../img/subhead-disability-lawyers.jpg);
}

section .caption {
  padding: 1em 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1em;
}

article figure #audio-ethel-thomas {
  position: absolute;
  top: 50%;
  left: 20px;
}

ul.slideshow {
  margin: 0;
  padding: 0;
}

ul.slideshow li {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* ==========================================================================
Media Queries
========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
INTERMEDIATE: Menu
==================== */
article header {
  margin-bottom: 20px;
  max-height: 400px;
  overflow: hidden;
}
article header h1 {
  font-size: 3em;
  position: absolute;
  left: 20px;
  right: 20px;
  top: 20px;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #fff;
  text-shadow: 0px 0px 5px #555;
  -moz-text-shadow: 0px 0px 5px #555;
  -webkit-text-shadow: 0px 0px 5px #555;
}
article header h2 {
  line-height: 1.6em;
  font-size: 2em;
  position: absolute;
  font-weight: 400;
  left: 40px;
  right: 40px;
  bottom: 20px;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #fff;
  text-shadow: 0px 0px 5px #555;
  -moz-text-shadow: 0px 0px 5px #555;
  -webkit-text-shadow: 0px 0px 5px #555;
}

article section p.lead {
  font-size: 1.4em;
  line-height: 1.8em;
}
article section figure {
  margin-left: 0;
  margin-right: 0;
}
article section .inline.wide {
  margin-left: -20px;
  margin-right: -20px;
}
article section figure .credit {
  margin: 0.5em 0 0;
}
}

@media only screen and (min-width: 800px) {
  /* ============
  TABLET
  ============ */
  article header {
    height: 400px;
  }
  article header h1 {
    left: 40px;
    right: 40px;
    top: 20px;
  }
  nav li.secondary {
    display: block;
  }
  article section {
    clear: right;
    margin: 0 40px 4em;
  }
  article section.byline {
    margin: 0 40px 1em;
  }
  article section h3 {
    font-size: 4em;
  }
  article section figure a.enlarge {
    display: none;
  }
  article section figure.infographic figcaption {
    padding-right: 1.6em;
  }
  article section .inline.wide {
    margin-left: -40px;
    margin-right: -40px;
  }
  article section figure.inline.wide .credit {
    float: right;
    margin: 0.5em 40px 0;
  }
  h3.wallpaper {
    margin: 0 -40px;
  }
  h3#subhead-kids,
  h3#hale-county {
    font-size: 6em;
  }
  blockquote.wallpaper {
    margin: 0 -40px 1em;
  }
  article section .inline.narrow,
  article section > p {
    width: 60%;
  }
  article section .inline.medium {
    width: 80%;
  }
  article section .right {
    float: right;
  }
  article section .right.narrow {
    width: 36%;
  }
  article section .right.medium {
    width: 50%;
    margin: 0 0 1em 2em;
  }
  article section .right.wide {
    width: 60%;
    margin: 0 0 1em 2em;
  }
  article footer {
    padding: 20px 40px;
  }
}

@media only screen and (min-width: 1024px) {
  /* ============
  DESKTOP
  ============ */
  article header {
    margin-right: 340px;
    height: 500px;
    max-height: 500px;
  }
  article header h1 {
    font-size: 4em;
    left: 40px;
    right: 40px;
    bottom: 40px;
    text-align: center;
  }
  aside.callout {
    display: block;
    position: absolute;
    right: 0;
    top: -40px;
    height: 540px;
    width: 340px;
    background: #333;
    color: #ccc;
    border-left: 1px solid #2C2C2C;
  }
  aside.callout a {
    color: #51a09e;
  }
  aside.callout .ad-wrapper {
    height: 290px;
    padding: 20px 20px 0px;
    border-bottom: 1px solid #2C2C2C;
    font-family: helvetica, arial, sans-serif;
    font-size: .69em;
    background: #444;
    overflow: hidden;
  }
  aside.callout .ad-wrapper p {
    float: left;
  }
  aside.callout .ad-wrapper p.right {
    float: right;
  }
  aside.callout .ad-wrapper a.ad img {
    display: block;
  }
  aside.callout .description {
    padding: 20px;
  }
  aside.callout .description ul {
    margin: -0.25em 0 0 0.5em;
    padding: 0;
  }
  aside.callout .description ul li {
    list-style: none;
    margin: 0 0 8px;
    padding: 0 0 0 20px;
    background: url(../img/icon-listen.png) no-repeat 0 50%;
  }
  aside.callout .description ul li a {
  }
}

@media only screen and (min-width: 1280px) {
/* ===============
Maximal Width
=============== */
  .video-wrapper {
    max-width: 1280px;
  }
}

/* ==========================================================================
Helper classes
========================================================================== */

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* ==========================================================================
Print styles
========================================================================== */

@media print {
  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
  * Don't show links for images, or javascript/internal links
  */

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

.cp-container {
  position: relative;
  width: 104px;
  height: 104px;
  padding: 10px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.cp-container :focus {
  border: none;
  outline: 0;
}

.cp-buffer-1,
.cp-buffer-2,
.cp-progress-1,
.cp-progress-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 104px;
  height: 104px;
  clip:rect(0px,52px,104px,0px);
}

.cp-buffer-1,
.cp-buffer-2 {
}


/* FALLBACK for .progress
* (24 steps starting from 1hr filled progress, Decrease second value by 104px for next step)
* (It needs the container selector to work. Or use div)
*/
/*
.cp-container .cp-fallback {
  background: url(../img/progress_sprite.jpg) no-repeat;
  background-position: 0 104px; 
}
*/

.cp-progress-1,
.cp-progress-2 {
  background: url(../img/progress-v2.png) 0 0 no-repeat;
}

.cp-buffer-holder,
.cp-progress-holder,
.cp-circle-control {
  position: absolute;
  width: 104px;
  height: 104px;
} 

.cp-circle-control {
  cursor: pointer;
}

.cp-buffer-holder,
.cp-progress-holder {
  clip: rect(0px,104px,104px,52px);
  display: none;
}


/* This is needed when progress is greater than 50% or for fallback */

.cp-buffer-holder.cp-gt50,
.cp-progress-holder.cp-gt50,
.cp-progress-1.cp-fallback{
  clip: rect(auto, auto, auto, auto);
}

.cp-controls {
  margin: 0;
  padding: 26px;
}

.cp-controls li{
  list-style-type: none;
  display: block;

  /*IE Fix*/
  position: absolute;
}

.cp-controls li a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-indent: -9999px;
  z-index: 1;
  cursor: pointer;
}

.cp-controls .cp-play {
  background: url(../img/controls-v2.png) 0 0 no-repeat;
}

.cp-controls .cp-play:hover {
  background-position: -50px 0;
}

.cp-controls .cp-pause {
  background: url(../img/controls-v2.png) 0 -50px no-repeat;
}

.cp-controls .cp-pause:hover {
  background-position: -50px -50px;
}

.cp-jplayer {
  width: 0;
  height: 0;
}
